\!\!*
__pycache__
pentagoModelStates/*
!pentagoModelStates/alpha_model_*.json
!pentagoModelStates/alpha_model_*/
pentagoModelStates/alpha_model_1????.json
pentagoModelStates/alpha_model_2????.json
pentagoModelStates/alpha_model_1????/
pentagoModelStates/alpha_model_2????/